<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>REASAURANT</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
body {
  background: url('https://media.istockphoto.com/id/509568543/photo/indian-food.jpg?b=1&s=170667a&w=0&k=20&c=6pyfySYOr4X2T1_zZ-XRa9wY15_1rVlfIDimXMPVVUE=') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size:Â cover;
}
</style>		
</head>
<body>
<h1>Food items</h1>

<form action="/action_page.php">
  <label for="food">choose your food:</label>
  <select name="food" id="food">
    <option value="keema biryani">Keema Biryani</option>
    <option value="parota">Parota</option>
    <option value="mutton biryani">Mutton Biryani</option>
    <option value="veg biryani">Veg Biryani</option>
    <option value="fish biryani">Fish Biryani</option>
    <option value="chicken biryani">Chicken Biryani</option>
  </select>
  <br><br>
  <a th:href="@{/menu}" onclick="confirm('Your order is confirm')"  class="btn btn-primary">Submit </a>
  
</form>
</body>
</html>